{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "semi": 1,
    "no-console": 1,
    "no-plusplus": "off",
    "max-len": "off",
    // "no-alert": "warn",
    "no-tabs": 1,
    // "prefer-destructuring":"off",
    "no-param-reassign": "off",
    "react/jsx-filename-extension": [0],
    "eol-last": "off",
    "import/prefer-default-export": "off"
  }
}
