body {
  background-color: black;
}
.item {
  width: 100px;
}
.listTitle {
  color: aliceblue;
  margin-left: 3%;
}
.carousel {
  padding-left: 3%;
}
.modal p {
  width: 100px;
  height: 100px;
}
hr {
  height: 1px;
  color: #123455;
  background-color: #123455;
  border: none;
}

.react-multiple-carousel__arrow {
  background-color: rgba(105, 105, 105, 0.2) !important;
}
.react-multiple-carousel__arrow--left {
  margin-left: -3% !important;
}
.react-multiple-carousel__arrow--right {
  margin-right: -3% !important;
}
.movieCardImage {
  width: 150px;
  height: 200px;
  -webkit-user-drag: none;
  border: 1px solid rgba(248, 147, 6, 0.459);
}
